body {
    background:whitesmoke;
    height: 300px;
    width: 750px;
    position: relative;
    vertical-align:middle;
}
.wrapper {
    color:black;
    text-align:center;}

h1, h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;}
#seconds, #tens{
    font-size:2em;}
button{
    background:black;
    color:white;
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;}
button:hover
{   border: solid 1px white;
    color: black;
    background-color: white;}

